export HAB_FEAT_IGNORE_LOCAL="true"
export HAB_STUDIO_SECRET_HAB_FEAT_IGNORE_LOCAL="true"

export HAB_BLDR_CHANNEL="alpha"
export HAB_FALLBACK_CHANNEL="stable"
export HAB_STUDIO_SECRET_HAB_BLDR_CHANNEL="alpha"
export HAB_STUDIO_SECRET_HAB_FALLBACK_CHANNEL="stable"
